@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);

$white: #efefef;
$darkWhite: darken($white, 10);
$green: #669073;
$darkGreen: darken($green, 10);
$darkerGreen: darken($green, 30);

body {
  font-family: "Roboto", "Helvetica Neue", Helvetica, sans-serif;
  background: $white;
}

::selection {
  color: $white;
  background: $green;
}

a{
  color: inherit;
  font-weight: 700;
  &:hover, &:active, &:focus {
    color: $darkerGreen;
    text-decoration: none;
  }
}

.mui-btn--primary {
  background-color: $green;
  &:hover, &:active, &:focus {
    background-color: $darkGreen;
  }
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  > .content {
    width: 100%;
    flex: 1;
  }
}
.main-header {
  position: relative;
  background: linear-gradient(0deg, $darkWhite, $white);
  color: #666;
  .inner {
    position: relative;
    padding: 3em;
  }
  .logo {
    height: 30vh;
  }
  h1, h2 {
    font-weight: 300;
  }
  h1 {
    color: $green;
    padding: 0.5em 0em;
  }
  h2 {
    font-style: italic;
    padding-bottom:1em;
    span {
      padding: 0 0.5em;
    }
  }
}

.mui-container-fluid.padded {
  .mui-row > div {
    padding-top: 3em;
  }
  padding-bottom: 3em;
}

#particles {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
}

.footer {
  background: linear-gradient(0deg, $green, $darkGreen);
  width: 100%;
  padding: 1em 0em;
}

.social-links a {
  padding: 0 0.3em;
}

.panelled-grid {
  .mui-panel, h2 {
    margin-top: 2em;
  }
  .mui-panel {
    position: relative;
    h1, h2, h3, h4 {
      margin-top: 0;
    }
    .content {
      position: relative;
    }
    .icon {
      position: absolute;
      top:0;
      right:0;
      opacity: 0.1;
      height: 14em;
      width: 14em;
      svg {
        height: 100%;
        width: 100%;
      }
    }
  }
}

.green-gradient {
  background: linear-gradient(45deg, $darkGreen, $darkerGreen);
}

.justified-paragraphs p {
  text-align: justify;
}

// wtf muicss?
@media (min-width: 768px) {
  .mui-col-md-6:nth-child(2n+1) {
    clear: left;
  }
}
@media (min-width: 992px) {
  .mui-col-md-6:nth-child(2n+1) {
    clear: none;
  }
}

.content-block .mui-dropdown  {
  margin: 1.5em 0;
}
