// buttons
.read-more {
  white-space: nowrap;
  i {
    margin-right: 0;
  }
}

.button-link {
  margin: 0.3rem;
  padding: 0.1rem 0.8rem;
  display: inline-block;
  white-space: nowrap;
  background: _palette(t-black-10);
  border-bottom: 2px solid _palette(t-black-20);
  box-shadow: $buttonShadow;
  border-radius: $roundedTight;

  &.selected {
    background: _palette(t-black-80);
    color: _palette(bg);
    &:hover {
      background: _palette(t-black-60)
    }
  }

  i.left {
    margin-left: 0;
  }

  i.right {
    margin-right: 0;
  }

  &:hover {
    box-shadow: $tightShadow;
    background: _palette(t-white-50);
    border-bottom: 2px solid _palette(t-black-10);
  }

  &.big {
    padding: 0.2em 1rem;
    font-size: 1.2rem;
    font-family: '_HeaderFont';
    text-transform: uppercase;
  }

  &.massive {
    font-size: 1.5rem;
    font-weight: bold;
    border-bottom: 3px solid _palette(t-black-30);
  }

  &.blue {
    $discord: #8EA0F8;
    background: $discord;
    text-shadow: $textShadow;
    box-shadow: $softShadow;
    color: _palette(bg);
    &:hover {
      box-shadow: $tightShadow;
      background: transparentize($discord, 0.60);
    }
  }
}

.external-icon {
  margin-right: 0;
  margin-left: $microPadding;
  display: inherit;
}

.info-buttons-group {
  background: _palette(bright);
  border-radius: $roundedTight;
  border: $solidDarkLine;
  box-shadow: $softerShadow;

  .item {
    border-bottom: $solidDarkLine;
    padding: $smallPadding;

    p {
      margin: 0;
    }
  }

  margin: $largePadding 0;

  .item:last-child {
    border-bottom: none;
  }

  .right-buttons {
    float: right;
    margin-bottom: $tinyPadding;

    @include breakpoint('<=small') {
      float: none;
      text-align: right;
    }

  }
}

.button-group {
  margin: $largePadding 0;
}