// TODO REFACTOR THIS!

$grid-color-1:_palette(green-col);
$grid-color-2:_palette(blue-col);
$grid-color-3:_palette(light-red-col);
$grid-color-4:_palette(light-purple-col);
$grid-color-5:_palette(orange-col);


a.card {
  border-bottom: none;
  &:hover {
    background: _palette(accent);
  }

  &.orange:hover {
    background: _palette(orange-col);
  }

  &.red:hover {
    background: _palette(red-col);
  }

  &.grid-color-1:hover {
    background: $grid-color-1;
  }

  &.grid-color-2:hover {
    background: $grid-color-2;
  }

  &.grid-color-3:hover {
    background: $grid-color-3;
  }

  &.grid-color-4:hover {
    background: $grid-color-4;
  }

  &.grid-color-5:hover {
    background: $grid-color-5;
  }
}

.legend {
  margin-bottom: $smallPadding;

  .info {
    font-weight: bold;
    margin-bottom: $tinyPadding;
  }

  &.has-selected {
    .key {
      opacity: .4;
    }
  }

  .key {
    user-select: none;
    white-space: nowrap;
    display: inline-block;
    margin: 0 $microPadding $microPadding 0;
    padding: $nanoPadding $tinyPadding;
    border-radius: $roundedTight;
    border-bottom: $solidDarkLine;

    cursor: pointer;
    box-shadow: $softerShadow;

    &.green {
      background: _palette(accent);
    }

    &.orange {
      background: _palette(orange-col);
    }

    &.red {
      background: _palette(red-col);
    }

    &.grid-color-1 {
      background: $grid-color-1;
    }

    &.grid-color-2 {
      background: $grid-color-2;
    }

    &.grid-color-3 {
      background: $grid-color-3;
    }

    &.grid-color-4 {
      background: $grid-color-4;
    }

    &.grid-color-5 {
      background: $grid-color-5;
    }

    &.selected {
      opacity: 1;
      box-shadow: $tightShadow;
    }

    &.grid-color-all {
      background: _palette(grey-10);
      opacity: 1;
    }
  }
}

.color-grid-items {
  display: grid;
  background: _palette(grey-10);
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: $smallPadding;
  margin-bottom: $largePadding;
  .card {
    margin: $microPadding;
    background: _palette(bright);
    box-shadow: $softShadow;
    $radius: $microPadding;
    border-radius: $roundedTight;
    overflow: hidden;
    .content {
      line-height: 1.4rem;
      max-height: 12rem;
      overflow-y: auto;
      padding: $tinyPadding $smallPadding;
      mask-image: linear-gradient(to bottom, black 80%, transparent 100%);    
    }
    h4 {
      background: _palette(accent);
      padding: $tinyPadding;
      border-radius: $radius $radius 0 0;
      margin-top: 0;
      margin-bottom: 0;
      text-align: center;
    }

    &.orange h4 {
      background: _palette(orange-col);
    }

    &.red h4 {
      background: _palette(red-col);
    }

    &.grid-color-1 h4 {
      background: $grid-color-1;
    }

    &.grid-color-2 h4 {
      background: $grid-color-2;
    }

    &.grid-color-3 h4 {
      background: $grid-color-3;
    }

    &.grid-color-4 h4 {
      background: $grid-color-4;
    }

    &.grid-color-5 h4 {
      background: $grid-color-5;
    }
  }
}