// main menu
#menu {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  user-select: none;

  >div,
  >nav {
    display: inline-block;
  }

  label {
    background: _palette(t-black-10);
  }

  a {
    border-bottom: 0;
  }
}

// language selection

.select-language a {
  line-height: 1rem;
  padding: 0.2rem;
  margin: 0;
  vertical-align: middle;
}

/* RE-USED ELEMENTS */

// hamburger menus

.hamburger {
  $buttonSize: 2.5rem;
  $dropdownPadding: 10px;

  input+label {
    &::before {
      display: none;
    }

    display: inline-block;
    cursor: pointer;
    user-select: none;
    line-height: $buttonSize;
    min-width: $buttonSize;
    height: $buttonSize;
    padding: 0 $tinyPadding;
    text-align: center;
    text-transform: none;
    letter-spacing: inherit;
    font-weight: 100;
    margin-bottom: $dropdownPadding;
  }

  .buttons {
    display: none;
    position: absolute;
    margin-right: $dropdownPadding;
    right: 0;
    background: _palette(bg);
    padding: 0;
    max-height: 50vh;
    overflow-y: auto;
    box-shadow: $softShadow;
  }

  a {
    display: block;
    cursor: pointer;
  }

  input:checked+label {
    background-color: _palette(fg) !important;
    color: _palette(bg);
  }

  input:checked~.buttons {
    display: block;
  }
}


.pagination {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 0;
  margin-top: -$smallPadding;
  margin-bottom: $smallPadding;
}

.sub-menu li.selected {
  font-weight: bold;
}


.sitemap {
  small {
    font-size: 0.8rem;
    white-space: nowrap;
  }

  a {
    line-height: 1.6rem;
    display: block;
    border: 0;
    padding: $tinyPadding;
  }

  a:nth-child(odd) {
    background: _palette(t-black-10);
  }

  a:hover {
    background: _palette(grey-10);
  }

  .text {
    font-size: 0.8rem;
    line-height: 1rem;
  }
}

$tabBg: _palette(bright);

.tabs {
  padding: 0;
  white-space: nowrap;
  a {
    display: inline-block;
    background: _palette(t-black-10);
    opacity: 0.7;
    padding: $nanoPadding $tinyPadding;
    margin-left: $roundedTight;
    border-top-left-radius: $roundedTight;
    border-top-right-radius: $roundedTight;
    border: $solidDarkLine;
    border-bottom: 0;
    &:hover {
      opacity: 0.9;
    }

    &.selected {
      opacity: 1;
      background: $tabBg;
    }
  }
}

.tabs-child {
  border-radius: $roundedTight;
  background: $tabBg;
  border: $solidDarkLine;
  padding: $smallPadding;
  padding-bottom: 0;
  border-top: 0;
  box-shadow: $softShadow;
}