// language selection

.select-language a {
  line-height: 1rem;
  padding: 0.2rem;
  margin: 0;
  vertical-align: middle;
}

// main menu
#menu {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  user-select: none;

  >div,
  >nav {
    display: inline-block;
  }

  label {
    background: _palette(t-black-20);
  }

  a {
    border-bottom: 0;
  }
}

// hamburger menus

.hamburger {
  $buttonSize: 2.5rem;
  $spacing: $nanoPadding;

  input+label {
    &::before {
      display: none;
    }

    display: inline-block;
    cursor: pointer;
    user-select: none;
    line-height: $buttonSize;
    min-width: $buttonSize;
    height: $buttonSize;
    padding: 0 $tinyPadding;
    text-align: center;
    text-transform: none;
    letter-spacing: inherit;
    font-weight: 100;
    margin-bottom: $spacing;
    z-index: 1;
  }

  .buttons {
    font-family: '_HeaderFont';
    font-weight: 400;
    text-transform: uppercase;
    margin-right: $spacing;
    display: none;
    position: absolute;
    right: 0;
    padding: 0;
    z-index: 1;
  }
  .overlay {
    background: _palette(t-black-20);
    backdrop-filter: blur(7px) grayscale(50%);
    position: fixed;
    display: none;
    left:0;
    right:0;
    top:0;
    bottom:0;
  }
  a {
    display: block;
    cursor: pointer;
    padding: $nanoPadding $microPadding;
    margin-bottom: $nanoPadding;
    background: _palette(bright);
    // box-shadow: $tightShadow;
    &:hover {
      background:_palette(t-black-80);
      color: _palette(accent);
    }
  }

  input:checked+label {
    background-color: _palette(fg) !important;
    color: _palette(bg);
  }

  input:checked~.buttons, input:checked~.overlay {
    display: block;
  }
}


.pagination {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 0;
  margin-top: -$smallPadding;
  margin-bottom: $smallPadding;
}

.sub-menu li.selected {
  font-weight: bold;
}


.sitemap {
  small {
    font-size: 0.8rem;
    white-space: nowrap;
  }

  a {
    line-height: 1.6rem;
    display: block;
    border: 0;
    padding: $tinyPadding;
  }

  a:nth-child(odd) {
    background: _palette(t-black-10);
  }

  a:hover {
    background: _palette(grey-10);
  }

  .text {
    font-size: 0.8rem;
    line-height: 1rem;
  }
}

$tabBg: _palette(bright);

.tabs {
  padding: 0;
  white-space: nowrap;
  a {
    display: inline-block;
    $unselectedBg: _palette(grey-10);
    background: $unselectedBg;
    padding: $nanoPadding $tinyPadding;
    margin-left: $roundedTight;
    border-top-left-radius: $roundedTight;
    border-top-right-radius: $roundedTight;
    border: 0;
    &:hover {
      opacity: 0.9;
    }

    &.selected {
      opacity: 1;
      background: $tabBg;
    }
  }
}

.tabs-child {
  border-radius: $roundedTight;
  background: $tabBg;
  border: $solidDarkLine;
  padding: $smallPadding;
  padding-bottom: 0;
  border-top: 0;
  box-shadow: $softShadow;
}