.warning-container {
  position: fixed;
  width: 100%;
  z-index: 20;
  transition: opacity .5s ease-in-out;
  pointer-events: none;

  &.hidden {
    opacity: 0;
    user-select: none;

    .warning-overlay {
      pointer-events: none;
    }
  }

  .warning-overlay {
    * {
      color: white;
    }

    pointer-events: auto;
    position: relative;
    background: rgba(255, 27, 27, 0.9);
    box-shadow: $softShadow;
    width: 30rem;
    max-width: 80%;
    margin: auto;
    margin-top: 10px;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 0.8rem;

    .close-button {
      position: absolute;
      top: 0;
      right: 0;
      width: 30px;
      height: 30px;
      cursor: pointer;
      text-align: center;
    }

    h3,
    p {
      line-height: 1.2rem;
      margin: 0.2rem 0;
    }

    .action {
      float: right;
      padding-left: 1rem;
    }
  }
}