::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background: black;
}

body {
  ::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, .3);
  }
}

iframe {
  max-width: 100%;
}

img {
  max-width: 100%;
}

a {
  overflow-wrap: break-word;
  i {
    margin: 0 0.7rem;
  }
  &.anchor {
    visibility: hidden;
  }
}