#wrapper {
  .copyright a.button-link {
    color: initial;
  }
  .layout-content section {
    display: block;
  }
  &.page {
    .layout-container {
      background: white;
    }
    .layout-content {
      margin: auto;
      max-width: $maxPageWidth;
      padding: $largePadding;

      @include breakpoint('<=small') {
        padding: $smallPadding;
      }
    }
    &.wide .layout-content {
      max-width: none;
      margin: 0;
      padding: $largePadding 0;
      > section {
        margin-left: auto;
        margin-right: auto;
        max-width: $maxPageWidth;
        padding: 0 $largePadding;
        @include breakpoint('<=small') {
          padding: 0 $smallPadding;
        }
      }
    }
  }
}

.wide-section {
  background: white;
  position: relative;
  padding: $largePadding;
  @include breakpoint('<=small') {
    padding: $largePadding $smallPadding;
  }
  .container {
    max-width: $maxPageWidth;
    margin: auto;
    &.full {
      max-width: none;
    }
  }
}

.grid {
  display: grid;
  max-width: 100%;
  grid-gap: $smallPadding;
  margin-bottom: $smallPadding;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  @include breakpoint('<=small') {
    grid-template-columns: 1fr !important;
  }
  &.wide,
  &.semi {
    padding: 0 $smallPadding;
  }
  &.semi {
    max-width: $maxWideSectionWidth;
    margin: auto;
  }
}

#page-header {
  background: _palette(accent);
  header {
    max-width: $maxPageWidth;
    padding: $tinyPadding $largePadding;
    margin: auto;
    @include breakpoint('<=small') {
      padding: $tinyPadding $smallPadding;
    }
  }
  img {
    max-width: 30px;
    @include breakpoint('<=small') {
      max-width: 20px;
    }
    margin-right: $tinyPadding;
    display: inline;
  }
  a {
    border-bottom: none;
    &:hover {
      color: $white;
    }
  }
  h1 {
    margin: 0;
    display: inline;
    font-size: 2.5rem;
    @include breakpoint('<=small') {
      font-size: $smallPadding;
    }
    small {
      font-size: 1rem;
      text-transform: uppercase;
      white-space: nowrap;
      letter-spacing: 0.05rem;
      padding-left: 0.2rem;
    }
  }
}