body {
  background: _palette(bright);
}
#wrapper {
  .layout-content section {
    display: block;
  }

  section {
    margin-bottom: $smallPadding;
  }

  &.page {
    .layout-container {
      background: _palette(bg);
      padding: $smallPadding 0;

      section {
        margin: 0;
      }

      .layout-header {
        margin-bottom: $smallPadding;
      }

      .layout-footer {
        margin-top: $smallPadding;
      }

      .layout-content {
        margin-bottom: $smallPadding;
        margin-top: $smallPadding;
      }
    }

    &.thin .layout-content,
    &.wide .layout-content>section {
      margin-left: auto;
      margin-right: auto;
      max-width: $maxPageWidth;
      padding: 0 $largePadding;

      @include breakpoint('<=small') {
        padding: 0 $smallPadding;
      }
    }
  }

  .footer {
    h4 {
      // background: red;
      margin-top: $smallPadding;
      margin-bottom: $microPadding;
    }

    ul.icons {
      li {
        margin-right: $microPadding;

        a {
          box-shadow: $tightShadow;
          background: _palette(green-col);
          &:hover {
            box-shadow: $softShadow;
            color: _palette(t-black-40);
            background: _palette(light-green-col);
          }
        }
      }
    }
  }

  .copyright {
    color: inherit;
    .sign-off {
      opacity: 0.4;
      margin-top: $smallPadding;
    }
  }
}

.wide-section {
  background: _palette(bg);
  position: relative;
  padding: $largePadding;

  @include breakpoint('<=small') {
    padding: $largePadding $smallPadding;
  }

  .container {
    max-width: $maxPageWidth;
    margin: auto;

    &.full {
      max-width: none;
    }
  }
}

.grid {
  display: grid;
  max-width: 100%;
  grid-gap: $smallPadding;
  margin-bottom: $smallPadding;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;

  @include breakpoint('<=small') {
    grid-template-columns: 1fr !important;
  }

  &.wide,
  &.semi {
    padding: 0 $smallPadding;
  }

  &.semi {
    max-width: $maxWideSectionWidth;
    margin: auto;
  }
}

.learn-more {
  font-weight: 400;
  font-size: 1.4rem;
}

// top header banner on pages
#page-header {
  background: _palette(accent);
  border-bottom: 1px solid transparentize(_palette(bright), 0.30);
  box-shadow: $softerShadow;
  z-index: 1;
  position: relative;
  header {
    max-width: $maxPageWidth;
    padding: $tinyPadding $largePadding;
    margin: auto;

    @include breakpoint('<=small') {
      padding: $tinyPadding $smallPadding;
    }
  }

  h1 {
    $size: 2.5rem;
    $smallSize: 2rem;
    $tinySize: 1.5rem;
    margin: 0;
    font-size: $size;
    vertical-align: middle;

    img {
      height: $size;
      margin-right: 0.8rem;
      float: left;
    }

    @include breakpoint('<=small') {
      font-size: $smallSize;

      img {
        height: $smallSize;
      }
    }

    @include breakpoint('<=xsmall') {
      font-size: $tinySize;

      img {
        height: $tinySize;
      }
    }

    small {
      font-size: 1rem;
      text-transform: uppercase;
      white-space: nowrap;
      letter-spacing: 0.05rem;
      padding-left: 0.2rem;
    }

    a {
      border-bottom: none;

      &:hover {
        color: _palette(bg);
      }
    }
  }
}

// hacky paradigm-shift override

#wrapper > section {
  $width: 40rem;
  >.content {
    max-width: $width;
  }
  >header {
    p, h2 {
      max-width: $width;
    }
  }
  >header, >.content {
    > * {
      max-width: none;
    }
    @include breakpoint('<=medium') {
      max-width: none;
      p, h2 {
        max-width: none;
      }
    }
  }
}