.showcase {
  background: #eee;
  box-shadow: 0 $tinyPadding $smallPadding rgba(0, 0, 0, .2);
  padding: $smallPadding;
  border-radius: $smallPadding;
}

.text-right {
  text-align: right;
}


.spacer {
  margin-top: 3rem;
}