.showcase {
  background: _palette(grey-10);
  box-shadow: 0 $tinyPadding $smallPadding _palette(t-black-20);
  padding: $smallPadding;
  border-radius: $roundedTight;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.spacer {
  margin-top: 3rem;
}

.dark {
  background: _palette(accent-dark);
  * { 
    color:_palette(bg); 
  }
  .button-link {
    background: _palette(t-white-20);
    box-shadow: $softShadow;
    &:hover {
      background: _palette(t-white-10);
    }
  }
}

.tip {
  background: _palette('accent-bg');
  padding: $microPadding $tinyPadding;
  border-radius: $roundedTight;
  margin: $microPadding 0;
}

.shaded {
  background: _palette(grey-10);
}

.bright {
  background: _palette(bright);
}

.link-item {
  margin: $largePadding 0;
}