.showcase {
  background: _palette(grey-10);
  box-shadow: 0 $tinyPadding $smallPadding _palette(t-black-20);
  padding: $smallPadding;
  border-radius: $roundedTight;
}

.trim {
  @include breakpoint('<=xlarge') {
    padding-left: $tinyPadding;
    padding-right: $tinyPadding;
  }
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.spacer {
  margin-top: 3rem;
}

.dark {
  background: _palette(accent-dark);
  * { 
    color:_palette(bg); 
  }
  .button-link {
    background: _palette(t-white-20);
    box-shadow: $softShadow;
    &:hover {
      background: _palette(t-white-10);
    }
  }
}

.tip {
  background: _palette('accent-bg');
  padding: $microPadding $tinyPadding;
  border-radius: $roundedTight;
  margin: $microPadding 0;
}

.shaded {
  $baseCol: _palette(grey-10);
  background: linear-gradient(180deg, $baseCol, darken($baseCol, 15%));
  text-shadow: 0px 1px 1px _palette(t-white-80);
  >.container {
    z-index: 1;
    position: relative;
  }
  &::before {
    z-index: 0;
    content: '';
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    bottom:0;
    left: 0;
    background-image: url('../images/fractal.svg');
    background-repeat: no-repeat;
    opacity: 0.03;
    // background-position: auto 300%;
    background-size: auto 200%;
    background-position: 70% 20%;
    @include breakpoint('<=medium'){ 
      background-size: 70% auto;
      background-position: 90% 20%;
    }
    @include breakpoint('<=small'){ 
      background-size: auto 200%;
    }
  }
}

.bright {
  background: _palette(bright);
}

.link-item {
  margin: $largePadding 0;
}