// Phoenix colors are imported in to paradigm-shift

$white: #f5f5f6;
$black: #131313;
$green: #33ff99;
$yellow: #ffed00;
$red: #fd025d;
$blue: #33fff4;
$orange: #ff9900;
$purple: #c702fd;

$softShadow: 0 0.5rem 1rem transparentize($black, 0.90);
$softerShadow: 0 0.3rem 1rem transparentize($black, 0.95);
$buttonShadow: 0 0.2rem 0.8rem transparentize($black, 0.92);
$hardShadow: 0 0.3rem 2rem transparentize($black, 0.6);
$tightShadow: 0 0.2rem 0.7rem transparentize($black, 0.85);
$textShadow: 0 0.05rem 0.2rem transparentize($black, 0.7); 
$headerShadow: 0px -1px 2px rgba(255,255,255,.8), $textShadow;

$darkLineWeight: 2px;
$darkLineCol: transparentize($black, 0.90);
$solidDarkLine: $darkLineWeight solid $darkLineCol;

$maxPageWidth: 55rem;
$maxWideSectionWidth: $maxPageWidth + 30rem;

$largePadding: 4rem;
$hugePadding: $largePadding * 2;
$smallPadding: $largePadding / 2;
$tinyPadding: $smallPadding / 2;
$microPadding: $tinyPadding / 2;
$nanoPadding: $microPadding / 2;
