.blog-item {
  margin: $smallPadding 0;
  .title {
    font-size: 1.2rem;
    font-family: '_BodyFont';
    font-weight: bold;
    letter-spacing: inherit;
    text-transform: initial;
    margin-bottom:$tinyPadding;
  }
  .meta {
    font-family: '_HeaderFont';
    font-weight: 400;
    small {
      font-family: '_BodyFont';
      margin-left: 0.2rem;
      font-size: 1.2rem;
      opacity: 0.8;
    }
  }
  margin: 0;
  margin-left: -$smallPadding;
  margin-right: -$smallPadding;
  padding: $tinyPadding $smallPadding;
  border-top: $solidDarkLine;
  &:hover {
    background: _palette(t-black-10);
  }
  .excerpt {
    margin: 0;
  }
}

.latest-blog-posts .blog-items {
  height: 25rem;
  overflow-y: scroll;
  border: $solidDarkLine;
  margin-left: -$smallPadding;
  margin-right: -$smallPadding;
  margin-bottom: $tinyPadding;
  .blog-item:first-child{
    border:0;
  }
  .blog-item {
    margin:0;
  }
}