.four-oh-four {
  max-width: 30rem;
  margin: auto;
  text-align: center;
  padding: $hugePadding $smallPadding;

  img {
    max-width: 3rem;
    margin: $tinyPadding;
  }

  h2 {
    margin: $tinyPadding;
  }
}