.button-link {
  cursor: pointer;
  margin: 0.3rem;
  padding: 0.1rem 0.8rem;
  display: inline-block;
  white-space: nowrap;
  box-shadow: $buttonShadow;
  border-radius: $roundedTight;

  &:hover {
    box-shadow: $tightShadow;
  }

  &.massive {
    font-size: 1.5rem;
    font-weight: bold;
  }

  &.blue {
    text-shadow: $textShadow;
    box-shadow: $softShadow;
    @include themify() {
      background: _themed(discord);
      &:hover {
        box-shadow: $tightShadow;
        background: transparentize(_themed(discord), 0.60);
      }
    }
  }
}

.merged {
  white-space: nowrap;

  .button-link {
    border-radius: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .button-link:first-child {
    border-top-left-radius: $roundedTight;
    border-bottom-left-radius: $roundedTight;
  }

  .button-link:last-child {
    border-right: 0;
    border-top-right-radius: $roundedTight;
    border-bottom-right-radius: $roundedTight;
  }
}

.button-link {
  @include themify() {
    background: _themed(t-black-10);
    border-bottom: 2px solid _themed(t-black-20);

    &.selected {
      background: _themed(t-black-80);
      color: _themed(bg);

      &:hover {
        background: _themed(t-black-60)
      }
    }

    &:hover {
      border-bottom: 2px solid _themed(t-black-10);
      background: _themed(t-white-50);
      border-bottom: 2px solid _themed(t-black-10);
    }

    &.massive {
      border-bottom: 3px solid _themed(t-black-30);
    }

    &.blue {
      color: _themed(bg);
    }
  }
}

.merged .button-link {
  @include themify() {
    border-right: 1px solid _themed(t-black-10);
  }
}