// deep override
#wrapper {

  .color-grid-legend {
    margin-bottom: $smallPadding;

    .info {
      font-weight: bold;
      margin-bottom: $tinyPadding;
    }

    &.has-selected {
      .key {
        opacity: .4;
      }
    }

    .key {
      user-select: none;
      white-space: nowrap;
      display: inline-block;
      margin: 0 $microPadding $microPadding 0;
      padding: $nanoPadding $tinyPadding;
      border-radius: $roundedTight;

      cursor: pointer;
      box-shadow: $softerShadow;

      &.selected {
        opacity: 1;
        box-shadow: $tightShadow;
      }

      &.grid-color-all {
        @include themify() {
          background: _themed(grey-10);
        }

        opacity: 1;
      }
    }
  }

  .color-grid-items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: $smallPadding;
    margin-bottom: $largePadding;

    .card {
      margin: $microPadding;
      box-shadow: $softShadow;
      border-bottom: none;
      $radius: $microPadding;
      border-radius: $roundedTight;
      overflow: hidden;

      .content {
        line-height: 1.4rem;
        max-height: 12rem;
        overflow-y: auto;
        padding: $tinyPadding $smallPadding;
        mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
      }

      h4 {
        padding: $tinyPadding;
        border-radius: $radius $radius 0 0;
        margin-top: 0;
        margin-bottom: 0;
        text-align: center;
      }
    }
  }

  @include themify() {
    .color-grid-items {
      background: _themed(grey-10);
    }

    .card {
      background: _themed(bright);
    }

    .color-grid-legend .key.grid-color-1,
    .color-grid-items .card.grid-color-1:hover,
    .color-grid-items .card.grid-color-1 h4 {
      background: _themed(green-col);
      color: _themed(darker-green-col);
    }

    .color-grid-legend .key.grid-color-2,
    .color-grid-items .card.grid-color-2:hover,
    .color-grid-items .card.grid-color-2 h4 {
      background: _themed(blue-col);
      color: _themed(darker-blue-col);
    }

    .color-grid-legend .key.grid-color-3,
    .color-grid-items .card.grid-color-3:hover,
    .color-grid-items .card.grid-color-3 h4 {
      background: _themed(light-red-col);
      color: _themed(dark-red-col);
    }

    .color-grid-legend .key.grid-color-4,
    .color-grid-items .card.grid-color-4:hover,
    .color-grid-items .card.grid-color-4 h4 {
      background: _themed(light-purple-col);
      color: _themed(dark-purple-col);
    }

    .color-grid-legend .key.grid-color-5,
    .color-grid-items .card.grid-color-5:hover,
    .color-grid-items .card.grid-color-5 h4 {
      background: _themed(orange-col);
      color: _themed(dark-orange-col);
    }
  }
}