.icon-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  @include breakpoint('<=small'){
    grid-template-columns: 1fr;
  }
  text-align: center;
  margin: $smallPadding;
  $bgSize: 8rem;
  $iconSize: 4rem;
  .item-icon {
    background: _palette(accent);
    color: _palette(fg);
    border-radius: 100%;
    vertical-align: middle;
    font-size: $iconSize;
    height: $bgSize;
    width: $bgSize;
    line-height: $bgSize;
    margin-bottom: $tinyPadding;
    p {
      margin-bottom: 0;
    }
  }
}