#wrapper.landing {

  // paradigm-shift landing page widths override
  >section {
    $width: 40rem;

    >.content {
      max-width: $width;
    }

    >header {

      p,
      h2 {
        max-width: $width;
      }
    }

    >header,
    >.content {
      padding-bottom: $largePadding;

      >* {
        max-width: none;
      }

      @include breakpoint('<=medium') {
        max-width: none;

        p,
        h2 {
          max-width: none;
        }
      }
    }
  }

  // END width overrides

  section.full {
    display: block;
    margin: 0;
    padding: $largePadding $largePadding;

    @include breakpoint('<=small') {
      padding: $largePadding $smallPadding;
    }

    .container {
      max-width: $maxPageWidth;
      margin: auto;
    }
  }

  // START INTRO
  .intro {
    position: relative;
    $logoSize: 70px;
    $logoSizeSmall: 40px;
    $logoHeight: $logoSize * 1.7;
    $logoHeightSmall: $logoSizeSmall * 1.7;
    $headerMargin: $logoSize + 30px;
    margin-top: 0;

    .content {
      max-width: none;
    }

    header {

      @include themify() {
        h1 {
          color: _themed(dark);
        }

        &,
        strong {
          color: _themed(main-header);
        }
      }


      .logo {
        float: right;
        max-width: $logoSize;
        margin-right: -$logoSize;
        margin-top: -$headerMargin;
        width: $logoSize;
        height: $logoHeight;
      }

      p {
        font-size: 1.05rem;
        line-height: 1.7rem;
        font-weight: 200;
      }

      h1 {
        font-size: 3.2rem;
      }

      @include breakpoint('<=medium') {
        h1 {
          margin-bottom: 0;
        }

        h1,
        p {
          padding-left: $headerMargin;
        }

        .logo {
          float: left;
          margin-left: -$headerMargin;
          margin-top: -$logoSize / 4;
        }
      }

      @include breakpoint('<=small') {
        h1 {
          font-size: 3.5rem;
          padding-top: $smallPadding;
          line-height: 3.3rem;
          margin-bottom: 0.5rem;
        }

        h1,
        p {
          padding-left: $logoSize;
        }

        .logo {
          max-width: $logoSizeSmall;
          height: $logoHeightSmall;
          margin-left: -$logoSize;
        }
      }

      @include breakpoint('<=xsmall') {
        p strong {
          display: block;
        }
      }
    }

    .overlay {
      position: absolute;
      z-index: 1;
      left: 0;
      right: 0;
      margin-top: $largePadding;
      padding: $smallPadding $largePadding;

      @include themify() {
        text-shadow: 0 1px 2px _themed(t-black-40);
        background: linear-gradient(45deg, _themed(t-black-60), transparent);
      }

      @include breakpoint('<=medium') {
        margin-top: -$smallPadding;
        padding: $tinyPadding $hugePadding;
      }

      @include breakpoint('<=small') {
        margin-top: 0;
        padding: $smallPadding;
      }

      h3 {
        font-size: 1.5rem;
        margin: 0;
      }

      .logo {
        margin-top: 0;
      }

      p {
        margin: $tinyPadding 0;
      }
    }

    @include themify() {
      .gatsby-image-wrapper {
        background: themed(accent-border);
      }
    }
  }

  // END INTRO

}