// non-front page pages
.page {
  .header {
    @include themify() {
      background: _themed(accent);
      border-bottom: 1px solid transparentize(_themed(bright), 0.30);
    }

    box-shadow: $softerShadow;
    z-index: 1;
    position: relative;
    padding: $tinyPadding 0;

    h1 {
      font-size: 2.5rem;
      display: inline-block;
      vertical-align: middle;
      margin: 0;

      .logo {
        height: 2.5rem;
        width: 1.5rem;
        margin-right: 0.8rem;
        float: left;
      }

      @include breakpoint('<=small') {
        font-size: 2rem;

        .logo {
          margin-top: -0.15rem;
          height: 2.2rem;
          width: 1.2rem;
        }
      }

      @include breakpoint('<=xsmall') {
        font-size: 1.5rem;

        .logo {
          height: 1.5rem;
          width: 1.2rem;
        }
      }

      small {
        font-size: 1rem;
        text-transform: uppercase;
        white-space: nowrap;
        letter-spacing: 0.05rem;
        padding-left: 0.2rem;
      }

      a {
        border-bottom: none;

        &:hover {
          @include themify() {
            color: _themed(header-hover);
          }
        }
      }
    }

  }

  >.contents {
    @include themify() {
      background: _themed(bg);
    }

    padding: $smallPadding 0;
    padding-bottom: $largePadding;
  }

  section {
    display: block;
  }

  &.wide .contents .contained>div:not(.wide),
  .contained {
    margin-left: auto;
    margin-right: auto;
    max-width: $maxPageWidth;
    padding: 0 $largePadding;

    @include breakpoint('<=small') {
      padding: 0 $smallPadding;
    }

    &.wide {
      max-width: none;
    }
  }

  &.wide .contents .contained {
    max-width: none;
    padding: 0;
  }
}

.fast-nav {
  margin-bottom: $smallPadding;
}

.content-footer {
  margin-top: $largePadding;
}