body {
  background: _palette(bright);
}

.page > .content {
  background: _palette(bg);
  padding: $smallPadding 0; 
}

.header {
  background: _palette(accent);
  h1, small {
    display: inline-block;
  }
}
.contained {
  margin-left: auto;
  margin-right: auto;
  max-width: $maxPageWidth;
  section {
    display: block;
  }
}
.content-item {
  margin-bottom: $largePadding;
}
.wide .content .contained {
  max-width: none;
  > div {
    margin-left: auto;
    margin-right: auto;  
    max-width: $maxPageWidth;
    &.wide {
      max-width: none;
    }
  }
}

.menu.main {
  position: absolute;
}

.button {
  cursor: pointer;
  margin: 0.3rem;
  padding: 0.1rem 0.8rem;
  display: inline-block;
  white-space: nowrap;
  text-transform: unset;
  background: _palette(t-black-10);
  border-bottom: 2px solid _palette(t-black-20);
  box-shadow: $buttonShadow;
  border-radius: $roundedTight;
}

.float-right {
  float: right;
}
.float-left {
  float: left;
}
.clear {
  clear: both;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.nudge-up{
  margin-top: -$smallPadding;
  margin-bottom: $smallPadding;
}
.grid {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
}

.fast-nav {
  margin-bottom: $smallPadding;
}