

.button {
  cursor: pointer;
  margin: 0.3rem;
  padding: 0.1rem 0.8rem;
  display: inline-block;
  white-space: nowrap;
  text-transform: unset;
  background: _palette(t-black-10);
  border-bottom: 2px solid _palette(t-black-20);
  box-shadow: $buttonShadow;
  border-radius: $roundedTight;
}

.float-right {
  float: right;
}
.float-left {
  float: left;
}
.clear {
  clear: both;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.nudge-up{
  margin-top: -$smallPadding;
  margin-bottom: $smallPadding;
}
.grid {
  display: grid;
  grid-auto-flow: column;
}

.fast-nav {
  margin-bottom: $smallPadding;
}

.cells {
  background: _palette(bright);
  border-radius: $roundedLoose;
  box-shadow: $softShadow;
  margin-bottom: $smallPadding;
  border: $solidDarkLine;
  .cell {
    border-bottom: $solidDarkLine;
    padding: $smallPadding $smallPadding;
    > * { margin-bottom: 0; }
  }
  .cell:last-child {
    border-bottom: none;
  }
}

.scrolly {
  max-height: 20rem;
  overflow: hidden;
  overflow-y: scroll;
}

a.icon {
  @include vendor('transition', 'background #{_duration(transition)} ease-in-out');
  border:none;
  box-shadow: $tightShadow;
  background: _palette(bg);
  color: _palette(fg);
  border-radius: 100%;
  display: inline-block;
  text-align: center;
  font-size: 1.3rem;
  width: 2.2rem;
  height: 2.2rem;
  margin-right: $tinyPadding;
  &:hover {
    box-shadow: $softShadow;
    background: _palette(accent);
  }
  i {
    margin: 0;
  }
}

.spaced {
  margin: $smallPadding 0;
}

a {
  i {
    margin: 0 $microPadding;
    display: inherit !important;
  }
  i.left {
    margin-left: 0;
  }

  i.right {
    margin-right: 0;
  }
}


::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background: _palette(fg);
}

body {
  ::-webkit-scrollbar-thumb {
    background: _palette(t-black-30);
  }
}

iframe {
  max-width: 100%;
}

img {
  max-width: 100%;
}

a, .button-link {
  overflow-wrap: break-word;
  i {
    margin: 0 0.7rem;
  }
  &.anchor {
    visibility: hidden;
  }
}

#wrapper .copyright {
  color: inherit;
  .sign-off {
    opacity: 0.4;
    margin-top: $smallPadding;
  }
}