.roadmap {

  display: grid;
  grid-template-columns: 50% 50%;

  h4 {
    @include themify() {
      border-bottom: $nanoPadding solid _themed(green-col);
    }

    display: inline-block;
  }

  h4,
  p {
    padding: $microPadding $smallPadding;
  }

  .item {
    @include themify() {
      border-right: $nanoPadding solid _themed(green-col);
    }
  }

  .item:nth-child(odd) {
    text-align: right;
  }

  .item:nth-child(even) {
    margin-top: $smallPadding;
    border-right: none;
  }

  @include breakpoint('<=small') {
    grid-template-columns: 100%;

    .item {
      border-right: none;
    }
  }
}