.float-right {
  float: right;
}

.float-left {
  float: left;
}

.clear {
  clear: both;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.nudge-up {
  margin-top: -$smallPadding;
  margin-bottom: $smallPadding;
}

.flex {
  display: flex;
  flex-flow: wrap;
  gap: $tinyPadding;

  >* {
    flex: 1;
  }
}

.grid {
  display: grid;
  grid-auto-flow: column;
  gap: $tinyPadding;

  @include breakpoint('<=small') {
    grid-auto-flow: none;
  }
}

.cells {
  @include themify() {
    background: _themed(bright);
  }

  border-radius: $roundedLoose;
  box-shadow: $softShadow;
  margin: $smallPadding 0;
  border: $solidDarkLine;

  .cell {
    border-bottom: $solidDarkLine;
    padding: $smallPadding;

    h3,
    h4 {
      margin: 0 !important;
    }
  }

  .cell:last-child {
    border-bottom: none;
  }

  .buttons {
    margin-bottom: $tinyPadding;
  }

  &.slim .cell {
    padding: $tinyPadding;
  }

  &.widen {
    margin-left: -$smallPadding;
    margin-right: -$smallPadding;
  }

}

.scrolly {
  max-height: 20rem;
  overflow: hidden;
  overflow-y: scroll;
}

.spaced {
  margin: $smallPadding 0;
}

.dark {
  .button-link {
    box-shadow: $softShadow;
  }

  @include themify() {
    background: _themed(accent-dark);

    * {
      color: _themed(bg);
    }

    .button-link {
      background: _themed(t-white-20);

      &:hover {
        background: _themed(t-white-10);
      }
    }
  }
}

.tip {
  padding: $microPadding $tinyPadding;
  border-radius: $roundedTight;
  font-size: 0.9rem;
  line-height: 1.5rem;
  margin: $microPadding 0;

  i.info {
    margin-right: $microPadding;
  }

  @include themify() {
    background: _themed(accent-bg);
    color: _themed(accent-dark);

    a {
      color: _themed(accent-dark);
    }

    i.info {
      color: _themed(accent-border);
    }

    &.warning {
      background: _themed(lighter-red-col);
      color: _themed(dark-red-col);

      i.info {
        color: _themed(red-col);
      }
    }
  }
}

.shaded {
  @include themify() {
    $baseCol: _themed(grey-10);
    background: linear-gradient(180deg, $baseCol, darken($baseCol, 15%));
    text-shadow: 0px 1px 1px _themed(t-white-80);
  }


  >.container {
    z-index: 1;
    position: relative;
  }

  &::before {
    z-index: 0;
    content: '';
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('../images/fractal.svg');
    background-repeat: no-repeat;
    opacity: 0.03;
    background-size: auto 200%;
    background-position: 70% 20%;

    @include breakpoint('<=medium') {
      background-size: 70% auto;
      background-position: 90% 20%;
    }

    @include breakpoint('<=small') {
      background-size: auto 200%;
    }
  }
}

.showcase {
  @include themify() {
    background: _themed(grey-10);
    box-shadow: 0 $tinyPadding $smallPadding _themed(t-black-20);
  }

  padding: $smallPadding;
  border-radius: $roundedTight;
}


.page-missing {
  max-width: 30rem;
  margin: auto;
  text-align: center;
  padding: $hugePadding $smallPadding;

  img {
    max-width: 3rem;
    margin: $tinyPadding;
  }

  h2 {
    margin: $tinyPadding;
  }
}

.search {
  z-index: 5;

  input::placeholder {
    font-family: "Font Awesome 5 Free", _font('family');
    font-weight: 900;
  }

  .results {
    margin-top: $tinyPadding;
    max-height: 15rem;

    .cell {
      display: block;
      padding: $tinyPadding;
      line-height: 1.3rem;

      span {
        font-weight: bold;
        margin-right: $microPadding;
      }

      &:hover {
        @include themify() {
          background: _themed(accent-bg);
        }
      }
    }
  }
}



// custom etc icon

.fa-etc {
  padding: 0.4rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90% auto;
  background-image: url('../images/etc-black.svg');
}

body.theme-dark .fa-etc {
  background-image: url('../images/etc-white.svg');
}