.float-right {
  float: right;
}
.float-left {
  float: left;
}
.clear {
  clear: both;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.nudge-up{
  margin-top: -$smallPadding;
  margin-bottom: $smallPadding;
}
.grid {
  display: grid;
  grid-auto-flow: column;
  @include breakpoint('<=small') {
    grid-template-columns: 1fr;
  }
}
.showcase.grid {
  column-gap: $tinyPadding;
}

#wrapper .cells {
  background: _palette(bright);
  border-radius: $roundedLoose;
  box-shadow: $softShadow;
  margin: $smallPadding 0;
  border: $solidDarkLine;
  .cell {
    border-bottom: $solidDarkLine;
    padding: $smallPadding $smallPadding;
    > * { margin: 0; }
  }
  .cell:last-child {
    border-bottom: none;
  }
  .buttons {
    margin-bottom: $tinyPadding;
  }
}

.scrolly {
  max-height: 20rem;
  overflow: hidden;
  overflow-y: scroll;
}

.spaced {
  margin: $smallPadding 0;
}

.dark {
  background: _palette(accent-dark);
  * { 
    color:_palette(bg); 
  }
  .button-link {
    background: _palette(t-white-20);
    box-shadow: $softShadow;
    &:hover {
      background: _palette(t-white-10);
    }
  }
}

.tip {
  background: _palette(accent-bg);
  padding: $microPadding $tinyPadding;
  border-radius: $roundedTight;
  font-size: 0.9rem;
  line-height: 1.5rem;
  margin: $microPadding 0;
  color: _palette(accent-dark);
  i.info {
    color: _palette(accent-border);
    margin-right: $microPadding;
  }
}

.shaded {
  $baseCol: _palette(grey-10);
  background: linear-gradient(180deg, $baseCol, darken($baseCol, 15%));
  text-shadow: 0px 1px 1px _palette(t-white-80);
  >.container {
    z-index: 1;
    position: relative;
  }
  &::before {
    z-index: 0;
    content: '';
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    bottom:0;
    left: 0;
    background-image: url('../images/fractal.svg');
    background-repeat: no-repeat;
    opacity: 0.03;
    background-size: auto 200%;
    background-position: 70% 20%;
    @include breakpoint('<=medium'){ 
      background-size: 70% auto;
      background-position: 90% 20%;
    }
    @include breakpoint('<=small'){ 
      background-size: auto 200%;
    }
  }
}

.widen {
  margin-left: -$smallPadding;
  margin-right: -$smallPadding;
}

.showcase {
  background: _palette(grey-10);
  box-shadow: 0 $tinyPadding $smallPadding _palette(t-black-20);
  padding: $smallPadding;
  border-radius: $roundedTight;
}

