.video-frame {
  width: 100%;
  height: 45vh;
  background: _palette(fg);
  color: _palette(accent);
  text-shadow: 0 0 $microPadding _palette(fg);
  text-align: center;
  display: flex;
  align-items: center;
  i {
    font-size: 2em;
    margin: auto;
    // margin: $tinyPadding;
  }

  &.not-playing {
    cursor: pointer;
    &:hover {
      color: _palette(bg);
      .preview {
        opacity: 0.9;
      }
    }
  }
  position: relative;
  .play { 
    width: 100%;
    z-index: 1;
  }
  .preview {
    position: absolute;
    opacity: 0.7;
    top: 0;
    left:0;
    bottom:0;
    right:0;
    justify-content: center;
    background-size: cover;
    background-position: center;  
  }
}

.video-item {
  margin-bottom: $hugePadding;
  &:last-of-type {
    margin-bottom: 0;
  }
}

iframe.video {
  margin: $smallPadding 0;
}

.video-group {
  margin: $largePadding 0;
}
.video-container {
  box-shadow: $softShadow;
}
.video-link {
  background: _palette(grey-20);
  margin:0;
  display:block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 0 $tinyPadding;
  i {
    display: inline;
  }
  font-size: 0.8rem;
  color: _palette(t-black-50);
  text-align: center;
  &, &:hover {
    border:0;
  }
  &:hover {
    background: _palette(dark-grey-30);
    color: _palette(bg);
  }
}