.warning-container {
  position: fixed;
  width: 100%;
  z-index: 3;
  transition: opacity .5s ease-in-out;
  pointer-events: none;

  &.hidden {
    opacity: 0;
    user-select: none;

    .warning-overlay {
      pointer-events: none;
    }
  }

  .warning-overlay {
    pointer-events: auto;
    position: relative;

    @include themify() {
      background: transparentize(_themed(red-col), 0.10);
    }

    box-shadow: $hardShadow;
    text-shadow: $textShadow;
    width: 40rem;
    max-width: 80%;
    margin: auto;
    margin-top: 1rem;
    border-radius: $roundedTight;
    padding: 1rem 1.4rem;

    .close-button {
      position: absolute;
      top: 0;
      right: 0;
      width: 2rem;
      height: 2rem;
      cursor: pointer;
      text-align: center;
    }

    h3,
    p {
      line-height: 1.4rem;
      margin: 0.5rem 0;
    }

    .action {
      float: right;
      padding-left: 1rem;
    }
  }
}