name: Gatsby Publish

on:
  push:
    branches:
      - i18n

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: enriikke/gatsby-gh-pages-action@v2.1.0
        with:
          access-token: ${{ secrets.ACCESS_TOKEN }}
