
// TODO refactor

$softShadow: 0 0.5em 1em rgba(0,0,0,.1); 
$solidBottom:  2px solid rgba(0,0,0,.2);

iframe {
  max-width: 100%;
}

img {
  max-width: 100%;
}
h4, h3 {
  line-height: 1.2em;
  margin-bottom: 0.4em;
  // a { border-bottom: 0; }
  text-transform: inherit;
  small { opacity: 0.5; }
}
h3 {
  font-size: 2em;
  letter-spacing: 0em;
}
h1 {
  font-size: 3em;
}


#wrapper.page {
  .layout-container {
    background: white;
  }
  .layout-content {
    margin: auto;
    max-width: 900px;
    padding: 2rem 4rem;
    @include breakpoint('<=small') {
      padding: 2rem;
    }
  }
  // TODO dry out
  > div.header {
		background: _palette(accent);
    header {
      max-width: 900px;
      padding: 1rem 4rem;
      margin: auto;
      @include breakpoint('<=small') {
        padding: 2rem;
      }
    }
    h1 {
      margin:0;
    }
  }
  h2 {
    margin-top: 2em;
  }
}

.button-link {
  margin: 0.2em;
  padding: 0 0.6em;
  display: inline-block;
  white-space: nowrap;
  background: rgba(0,0,0,.05);
  border-bottom: 2px solid rgba(0,0,0,0.1);
  &:hover {
    background: rgba(255,255,255,.3);
  }
  &.big {
    padding: 0.2em 1em;
    font-size: 1.2em;
  }
}

// font awesome icon within buttons / links
a .fas {
  margin: 0 0.5em;
}

#page-nav {
  position: relative;
}

// the dropdown menu
.hamburger {
  input + label {
    &::before {
      display: none;
    }
    display: inline-block;
    line-height: 40px;
    cursor: pointer;
    user-select: none;
    background: rgba(0,0,0,0.1);
    min-width: 40px;
    height: 40px;
    text-align: center;
    padding: 0 15px;
    text-transform: none;
    letter-spacing: inherit;
    font-weight: 100;
    margin-bottom: 10px;
  }
  .buttons {
    display: none;
    position: absolute;
    margin-right: 10px;
    right: 0;
    background: white;
    padding: 0;
    max-height: 300px;
    overflow-y: auto;
    box-shadow: $softShadow;
  }
  a {
    display: block;
    cursor: pointer;
  }
  input:checked + label {
    background-color: black !important;
    color: white;
  }
  input:checked ~ .buttons {
    display: block;
  }
}

// language select and dropdown menu
#menu {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  user-select: none;
  > div, > nav {
    display: inline-block;
  }
  a {
    border-bottom: 0;
  }
  .select-language a {
    line-height: 20px;
    padding: 0.2em;
    margin: 0;
    vertical-align: middle;
  }
}

.wide-section {
  .container {
    &.full {
      max-width: none;
    }
    max-width: 900px;
    margin: auto;
  }
  background: white;
  padding: 2em;
  position: relative;
  @include breakpoint('<=small') {
    padding: 2rem;
    margin-top: 2rem;
  }
  &.shaded {
    background: #f5f5f5;
  }
  &.dark {
    background: _palette(accent-dark);
    &, h2, a {
      color: white;
    }
    .button-link {
      background: rgba(255,255,255,.05);
      &:hover {
        background: rgba(255,255,255,.1);
      }
    }
  }
}

.grid {
  display: grid;
  max-width: 100%;
  grid-gap: 2em;
  margin-bottom: 2em;
  grid-template-columns: 1fr 1fr;
  @include breakpoint('<=small') {
    grid-template-columns: 1fr !important;
  }
}

.icon-grid {
  text-align: center;
  margin: 2em;
  .icon-item {
    font-size: 4em;
    color: black;
    height: 1.8em;
    width: 1.8em;
    background: _palette(accent);
    border-radius: 100%;
    text-align: center;
    vertical-align: middle;
    line-height: 1.8em;
    margin-bottom: 0.5em;
  }
}

// TODO fix/refactor this...
.intro {
  position: relative;
  img.logo {
    max-width: 70px;
    float: right;
    margin-top: -120px;
    display: block;
    margin-right: -60px;
  }
  p {
    font-size: 0.7em !important;
  }
  @include breakpoint('<=medium') {
    h1 {
      padding-left: 100px;
      // font-size: 3em;
      img.logo {
        float: left;
        // max-width: 80px;
        display: inline;
        margin-left: -100px;
        margin-top: 10px;
      }
    }
  }
  @include breakpoint('<=small') {
    h1 {
      padding-left: 70px;
      font-size: 3em;
      img.logo {
        float: left;
        max-width: 40px;
        display: inline;
        margin-left: -70px;
        margin-top: 10px;
      }
    }
  }
}


#wrapper.page {
  .header {
    vertical-align: top;
    img {
      max-width: 30px;
      @include breakpoint('<=small') {
        max-width: 20px;
      }
      margin-right: 1em;
      // vertical-align: middle;
      display: inline;
    }
    a {
      border-bottom: none;
      &:hover { color: white; }
    }
    h1 {
      display: inline;
      font-size: 2.5em;
      @include breakpoint('<=small') {
        font-size: 2em;
      }
      small {
        font-size: 0.7em;
        opacity: 0.7;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        padding-left: 0.2em;
      }
    }
  }
}

// TODO seperate these
.blog-item, .blog-post {
  margin-bottom: 2em;
  padding-bottom: 2em;
  border-bottom: $solidBottom;
  img {
    max-width: 100%;
  }
  h4, h3 {
    line-height: 1.2em;
    margin-bottom: 0.4em;
    a { border-bottom: 0; }
    text-transform: inherit;
    small { opacity: 0.5; }
  }
  h3 {
    font-size: 2em;
    letter-spacing: 0em;
  }
  h1 {
    font-size: 3em;
  }
}

.card {
  h4 {
    background: _palette(accent);
    padding: 1em;
    text-align: center;
  }
  &.orange h4 {
    background: _palette(orange-col);
  }
  &.red h4 {
    background: _palette(red-col);
  }
  .content {
    padding: 0 2em;
  }
  padding-bottom: 2em;
  background: white;
  box-shadow: $softShadow;
}
a.card {
  border-bottom: none;
  &:hover{
    background: _palette(accent);
  }
  &.orange:hover {
    background: _palette(orange-col);
  }
  &.red:hover {
    background: _palette(red-col);
  }
}

.bars {
  margin-bottom: 2em;
  @include breakpoint('<=medium') {
  line-height: 1.3em;
    span {
      font-size: 0.8em;
    }
  }
  .bar {
    margin-bottom: 0.5em;
    background: rgba(0,0,0,.5);
    height: 5px;
    .fill {
      height: 100%;
      background: _palette(accent);
    }
  }
}

.link-group {
  margin-top: 2em;
}

.legend {
  .key {
    padding: 0.3em 0.4em;
    margin: 0 0.2em;
    white-space: nowrap;
    display: inline-block;
    line-height: 1.2em;
    &.green {
      background: _palette(accent);
    }
    &.orange {
      background: _palette(orange-col);
    }
    &.red {
      background: _palette(red-col);
    }
  }
}

.intro .content .overlay {
  position: absolute;
  z-index: 1;
}

.team-member {
  h3, h4, p {
    margin: 0;
  }
  h4 {
    margin-bottom: 0.2em;
    // font-size: 0.4em;
    text-transform: none;
  }
  p { 
    font-size: 0.9em;
    line-height: 1.5em;
  }
  .image img { 
    max-width: 256px; 
    width: 100%;
    box-shadow: $softShadow;
  }
  .icons {
    position: absolute;
    margin-top: -3.2em;
    a.icon {
      font-size: 0.8em;
      color: white;
      background-color: rgba(0,0,0,0.5);
      &:hover {
        background-color: rgba(255,255,255,.6);
        color: black;
      }
    }
  }
  @include breakpoint('<=small') {
    & {
      display: grid;
      grid-template-columns: 1fr 2fr;
      grid-gap: 1em;
    }
  }
}

.education-menu {
  &.compact .item {
    display: inline-block;
    &.back{
      display: block;
      margin-bottom: 1em;
    }
  }
  &.full .item {
    border-bottom: $solidBottom;
    padding-bottom: 1.5em;
    margin: 1.5em 0em;
  }
  &.collapsed {
    margin-bottom: 2em;
    position: relative;
    .item {
      display: block;
    }
    .hamburger {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
  span {
    display: block;
  }
}

.warning-container {
  position: fixed;
  width: 100%;
  z-index: 20;
  transition: opacity .5s ease-in-out;
  pointer-events: none;
  &.hidden {
    opacity: 0;
    user-select: none;
  }
  &.hidden .warning-overlay {
    pointer-events: none;
  }
  .warning-overlay {
    * { color: white; }
    pointer-events: auto;
    position: relative;
    background: rgba(255, 27, 27, 0.9);
    box-shadow: $softShadow;
    width: 500px;
    max-width: 80%;
    margin: auto;
    margin-top: 10px;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 0.8em;
    .close-button { 
      position: absolute;
      top: 0; 
      right: 0;
      width: 30px;
      height: 30px;
      cursor: pointer;
      text-align: center;
    }
    h3, p {
      line-height: 1.2em;
      margin: 0.2em 0;
    }
    .action {
      float: right;
      padding-left: 1em;
    }
  }
}

.dapps-list {
  .wide-section {
    background: #efefef;
  }
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  .card .content {
    max-height: 200px;
    overflow-y: auto;
    line-height: 1.4em;
  }
}

iframe.video {
  margin: 2em 0;
}
