// TODO replace all colors with variables
// TODO refactor

$softShadow: 0 0.5rem 1rem rgba(0, 0, 0, .1);
$solidBottom: 2px solid rgba(0, 0, 0, .1);

$maxPageWidth: 55rem;
$maxWideSectionWidth: $maxPageWidth+30rem;

$largePadding: 4rem;
$hugePadding: $largePadding * 2;
$smallPadding: $largePadding / 2;
$tinyPadding: $smallPadding / 2;
$microPadding: $tinyPadding / 2;
$nanoPadding: $microPadding / 2;

$grid-color-1:#1BE7FF;
$grid-color-2:#6EEB83;
$grid-color-3:#E4FF1A;
$grid-color-4:#E8AA14;
$grid-color-5:#FF5714;

/* GLOBAL STYLES */

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background: black;
}

body {
  ::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, .3);
  }
}

iframe {
  max-width: 100%;
}

iframe.video {
  margin: $smallPadding 0;
}

img {
  max-width: 100%;
}

small {
  opacity: 0.7;
}

a {
  overflow-wrap: break-word;
}

a i {
  margin: 0 0.7rem;
}

a.anchor {
  visibility: hidden;
}

h1 {
  font-size: 3rem;
}

h3 {
  font-size: 1.2rem;
}

h3,
h5 {
  text-transform: none;
  letter-spacing: inherit;
}

h4 small {
  text-transform: none;
}

section>p:last-child {
  margin-bottom: 0;
}

/* PAGE STYLING */

#wrapper.page {
  .layout-container {
    background: white;
  }

  .layout-content {
    margin: auto;
    max-width: $maxPageWidth;
    padding: $largePadding;

    @include breakpoint('<=small') {
      padding: $smallPadding;
    }
  }

  &.wide .layout-content {
    max-width: none;
    margin: 0;
    padding: $largePadding 0;

    >section {
      max-width: $maxPageWidth;
      padding: 0 $largePadding;

      @include breakpoint('<=small') {
        padding: 0 $smallPadding;
      }

      margin-left: auto;
      margin-right: auto;
      display: block;
    }
  }
}

/* GLOBAL ELEMENTS */

.spacer {
  margin-top: 3rem;
}

#page-header {
  background: _palette(accent);

  header {
    max-width: $maxPageWidth;
    padding: $tinyPadding $largePadding;
    margin: auto;

    @include breakpoint('<=small') {
      padding: $tinyPadding $smallPadding;
    }
  }

  img {
    max-width: 30px;

    @include breakpoint('<=small') {
      max-width: 20px;
    }

    margin-right: $tinyPadding;
    display: inline;
  }

  a {
    border-bottom: none;

    &:hover {
      color: white;
    }
  }

  h1 {
    margin: 0;
    display: inline;
    font-size: 2.5rem;

    @include breakpoint('<=small') {
      font-size: $smallPadding;
    }

    small {
      font-size: 1rem;
      text-transform: uppercase;
      letter-spacing: 0.05rem;
      padding-left: 0.2rem;
    }
  }
}

// alert warning overlay

.warning-container {
  position: fixed;
  width: 100%;
  z-index: 20;
  transition: opacity .5s ease-in-out;
  pointer-events: none;

  &.hidden {
    opacity: 0;
    user-select: none;

    .warning-overlay {
      pointer-events: none;
    }
  }

  .warning-overlay {
    * {
      color: white;
    }

    pointer-events: auto;
    position: relative;
    background: rgba(255, 27, 27, 0.9);
    box-shadow: $softShadow;
    width: 30rem;
    max-width: 80%;
    margin: auto;
    margin-top: 10px;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 0.8rem;

    .close-button {
      position: absolute;
      top: 0;
      right: 0;
      width: 30px;
      height: 30px;
      cursor: pointer;
      text-align: center;
    }

    h3,
    p {
      line-height: 1.2rem;
      margin: 0.2rem 0;
    }

    .action {
      float: right;
      padding-left: 1rem;
    }
  }
}


// main menu
#menu {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  user-select: none;

  >div,
  >nav {
    display: inline-block;
  }

  label {
    background: rgba(0, 0, 0, 0.1);
  }

  a {
    border-bottom: 0;
  }
}

// language selection

.select-language a {
  line-height: 1rem;
  padding: 0.2rem;
  margin: 0;
  vertical-align: middle;
}

/* RE-USED ELEMENTS */

// hamburger menus

.hamburger {
  $buttonSize: 2.5rem;
  $dropdownPadding: 10px;

  input+label {
    &::before {
      display: none;
    }

    display: inline-block;
    cursor: pointer;
    user-select: none;
    line-height: $buttonSize;
    min-width: $buttonSize;
    height: $buttonSize;
    padding: 0 $tinyPadding;
    text-align: center;
    text-transform: none;
    letter-spacing: inherit;
    font-weight: 100;
    margin-bottom: $dropdownPadding;
  }

  .buttons {
    display: none;
    position: absolute;
    margin-right: $dropdownPadding;
    right: 0;
    background: white;
    padding: 0;
    max-height: 50vh;
    overflow-y: auto;
    box-shadow: $softShadow;
  }

  a {
    display: block;
    cursor: pointer;
  }

  input:checked+label {
    background-color: black !important;
    color: white;
  }

  input:checked~.buttons {
    display: block;
  }
}

// wide sections

.wide-section {
  background: white;
  position: relative;
  padding: $largePadding;

  @include breakpoint('<=small') {
    padding: $largePadding $smallPadding;
  }

  .container {
    max-width: $maxPageWidth;
    margin: auto;

    &.full {
      max-width: none;
    }
  }

  &.shaded {
    background: #f5f5f5;
  }
}

.dark {
  background: _palette(accent-dark);

  &,
  h1,
  h2,
  h3,
  h4,
  p,
  a {
    color: white;
  }

  .button-link {
    background: rgba(255, 255, 255, .2);
    box-shadow: $softShadow;

    &:hover {
      background: rgba(255, 255, 255, .1);
    }
  }
}

// buttons
.read-more {
  display: inline-block;
  white-space: nowrap;
  i {
    margin-right: 0;
  }
}

.button-link {
  margin: 0.2rem;
  padding: 0 0.6rem;
  display: inline-block;
  white-space: nowrap;
  background: rgba(0, 0, 0, .05);
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);

  i.left {
    margin-left: 0;
  }

  i.right {
    margin-right: 0;
  }

  &:hover {
    background: rgba(255, 255, 255, .3);
  }

  &.big {
    padding: 0.2em 1rem;
    font-size: 1.2rem;
  }

  &.massive {
    font-size: 1.5rem;
    font-weight: bold;
    border-bottom: 3px solid rgba(0, 0, 0, .3);
  }

  &.blue {
    background: rgba(0, 0, 100, .3);

    &:hover {
      background: rgba(0, 0, 150, .4);
    }

    box-shadow: $softShadow;
    color: white;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .5);
  }
}

.external-icon {
  margin-right: 0;
  margin-left: $microPadding;
  display: inherit;
}

// grids

.grid {
  display: grid;
  max-width: 100%;
  grid-gap: $smallPadding;
  margin-bottom: $smallPadding;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;

  @include breakpoint('<=small') {
    grid-template-columns: 1fr !important;
  }

  &.wide,
  &.semi {
    padding: 0 $smallPadding;
  }

  &.semi {
    max-width: $maxWideSectionWidth;
    margin: auto;
  }
}

#wrapper.page {

  .grid.wide,
  .grid.semi {
    margin-bottom: $largePadding;
  }
}

// icon grids

.icon-grid {
  text-align: center;
  margin: $smallPadding;
  $bgSize: 8rem;
  $iconSize: 4rem;

  .icon-item {
    background: _palette(accent);
    color: black;
    border-radius: 100%;
    text-align: center;
    vertical-align: middle;
    font-size: $iconSize;
    height: $bgSize;
    width: $bgSize;
    line-height: $bgSize;
    margin-bottom: $tinyPadding;
  }
}

// cards

.card {
  padding-bottom: $smallPadding;
  background: white;
  box-shadow: $softShadow;

  h4 {
    background: _palette(accent);
    padding: $tinyPadding;
    text-align: center;
  }

  &.orange h4 {
    background: _palette(orange-col);
  }

  &.red h4 {
    background: _palette(red-col);
  }

  &.grid-color-1 h4 {
    background: $grid-color-1;
  }

  &.grid-color-2 h4 {
    background: $grid-color-2;
  }

  &.grid-color-3 h4 {
    background: $grid-color-3;
  }

  &.grid-color-4 h4 {
    background: $grid-color-4;
  }

  &.grid-color-5 h4 {
    background: $grid-color-5;
  }

  .content {
    padding: 0 $smallPadding;
  }

  h5 {
    margin-bottom: $microPadding;
    margin-top: $tinyPadding;
  }
}

a.card {
  border-bottom: none;

  &:hover {
    background: _palette(accent);
  }

  &.orange:hover {
    background: _palette(orange-col);
  }

  &.red:hover {
    background: _palette(red-col);
  }

  &.grid-color-1:hover {
    background: $grid-color-1;
  }

  &.grid-color-2:hover {
    background: $grid-color-2;
  }

  &.grid-color-3:hover {
    background: $grid-color-3;
  }

  &.grid-color-4:hover {
    background: $grid-color-4;
  }

  &.grid-color-5:hover {
    background: $grid-color-5;
  }
}

/* PAGE SPECIFIC ELEMENTS */

// front page into area
.intro {
  position: relative;
  $logoSize: 70px;
  $logoSizeSmall: 40px;
  $headerMargin: $logoSize + 30px;

  header {
    img.logo {
      float: right;
      max-width: $logoSize;
      margin-right: -$logoSize;
      margin-top: -$headerMargin;
    }

    @include breakpoint('<=medium') {

      h1,
      p {
        padding-left: $headerMargin;
      }

      img.logo {
        float: left;
        margin-left: -$headerMargin;
        margin-top: 0;
      }
    }

    @include breakpoint('<=small') {
      h1 {
        font-size: 3.5rem;
        padding-top: $smallPadding;
      }

      h1,
      p {
        padding-left: $logoSize;
      }

      img.logo {
        max-width: $logoSizeSmall;
        margin-left: -$logoSize;
      }

      b {
        display: block;
      }
    }
  }

  .overlay {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    margin-top: $largePadding;
    padding: $smallPadding $largePadding;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .4);
    background: linear-gradient(45deg, rgba(0, 0, 0, .6), transparent);

    @include breakpoint('<=medium') {
      margin-top: -$smallPadding;
      padding: $tinyPadding $hugePadding;
    }

    @include breakpoint('<=small') {
      margin-top: 0;
      padding: $smallPadding;
    }

    h3 {
      font-size: 1.5rem;
      margin: 0;
    }

    p {
      margin: $tinyPadding 0;
    }
  }
}

// progress bars (roadmap)

.bars {
  margin-bottom: $largePadding;
  font-weight: bold;

  >div {
    margin-top: $tinyPadding;
  }

  .bar {
    background: rgba(0, 0, 0, .5);
    height: $nanoPadding;

    .fill {
      height: 100%;
      background: _palette(accent);
    }
  }
}

// team members (participants)

.team-member {
  .image img {
    max-width: 256px;
    width: 100%;
    box-shadow: $softShadow;
  }

  h3,
  p,
  h4 {
    margin: 0;
  }

  .icons {
    position: absolute;
    margin-top: -3.2rem;

    a.icon {
      color: white;
      background-color: rgba(0, 0, 0, 0.5);

      &:hover {
        background-color: rgba(255, 255, 255, .6);
        color: black;
      }
    }
  }

  @include breakpoint('<=small') {
    & {
      display: grid;
      grid-template-columns: 1fr 2fr;
      grid-gap: $tinyPadding;
    }
  }
}

.education-menu {

  &.full,
  &.compact {
    .item {
      margin: $smallPadding 0;
    }

    header {
      margin-top: $largePadding;
      margin-bottom: $tinyPadding;
    }

    h2 {
      margin-bottom: $tinyPadding;
    }

    h3 {
      margin-bottom: $tinyPadding;
    }
  }

  &.compact .item {
    margin: 0;
    display: inline-block;

    &.back {
      display: block;
    }
  }

  &.collapsed {
    position: relative;

    .item {
      display: block;
    }

    .hamburger {
      position: absolute;
      top: 0;
      right: 0;
    }

    h2,
    header,
    .item {
      margin: 0;
    }

    h2 {
      margin: 0 $tinyPadding;
      font-size: 1rem;
    }
  }
}


// legend above the dapps list

.legend {
  margin-bottom: $smallPadding;

  &.has-selected {
    .key {
      opacity: .4;
    }
  }

  .key {
    user-select: none;
    white-space: nowrap;
    display: inline-block;
    margin: 0 $microPadding $microPadding 0;
    padding: 0 $microPadding;
    cursor: pointer;

    &.green {
      background: _palette(accent);
    }

    &.orange {
      background: _palette(orange-col);
    }

    &.red {
      background: _palette(red-col);
    }

    &.grid-color-1 {
      background: $grid-color-1;
    }

    &.grid-color-2 {
      background: $grid-color-2;
    }

    &.grid-color-3 {
      background: $grid-color-3;
    }

    &.grid-color-4 {
      background: $grid-color-4;
    }

    &.grid-color-5 {
      background: $grid-color-5;
    }

    &.selected {
      opacity: 1;
    }

    &.grid-color-all {
      background: #eee;
      opacity: 1;
    }
  }
}

// the dapps list

.dapps-list {
  background: #efefef;
  padding: $smallPadding !important;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  .card .content {
    max-height: 10rem;
    overflow-y: auto;
  }
}

// blog list

.blog-item {
  margin: $largePadding 0;

  h3 {
    margin-bottom: $tinyPadding;

    a {
      border: 0;
    }
  }

  h4 {
    margin: 0
  }
}

.latest-blog-posts {

  h4,
  h3 {
    margin: 0;
  }

  a.item {
    margin: 0 (-$tinyPadding);
    padding: $tinyPadding;
    display: block;
    border-bottom: none;

    p {
      margin: 0;
    }

    &:hover {
      background: rgba(0, 0, 0, 0.05);
    }
  }
}

.community {
  margin-bottom: $smallPadding;
}


.link-section {
  margin-top: $smallPadding;

  img {
    float: left;
    width: 100px;
    margin: 0 $smallPadding $largePadding 0;
  }
}


// fork timeline

.fork-timeline {
  margin-bottom: $smallPadding;

  .items {
    background: #eee;
    white-space: nowrap;
    overflow-x: auto;
  }

  .scroll-info {
    opacity: 0.5;
  }

  .items,
  .scroll-info {
    padding: 0 $largePadding;

    @include breakpoint('<=small') {
      padding: 0 $smallPadding;
    }
  }

  .item:first-child .date {
    border-radius: 1rem 0 0 1rem;
  }

  .item:last-child .date {
    border-radius: 0 1rem 1rem 0;
  }

  .item {
    $iconSize: 4rem;
    margin: $smallPadding 0;
    $stickHeight: 1rem;
    text-align: center;
    vertical-align: top;
    display: inline-block;
    width: 16rem;
    white-space: normal;

    .date,
    .icon {
      color: white;
      background: grey;
    }

    .date {
      margin-bottom: $stickHeight;
      text-transform: uppercase;
      font-size: 0.8rem;
      font-weight: bold;
      letter-spacing: 0.1rem;
    }

    .icon {
      margin-top: $stickHeight;
      width: $iconSize;
      height: $iconSize;
      line-height: $iconSize;
      margin: auto;
      font-size: $iconSize - 2rem;
      border-radius: 100%;
      display: block;

      &::after {
        content: '';
        width: 1rem;
        height: $stickHeight + 0.5rem;
        background: grey;
        display: block;
        margin: auto;
        margin-top: (-$stickHeight) + (-$iconSize);
      }
    }

    .date,
    .icon,
    .icon::after {
      background: #797979;
    }

    &.red {

      .date,
      .icon,
      .icon::after {
        background: _palette(dark-red-col);
      }
    }

    &.green {

      .date,
      .icon,
      .icon::after {
        background: _palette(accent);
        color: inherit;
      }
    }

    &.purple {

      .date,
      .icon,
      .icon::after {
        background: _palette(dark-purple-col);
      }
    }

    &.orange {

      .date,
      .icon,
      .icon::after {
        background: _palette(dark-orange-col)
      }
    }

    &.blue {

      .date,
      .icon,
      .icon::after {
        background: _palette(dark-blue-col);
      }
    }

    &.white {

      .date,
      .icon,
      .icon::after {
        color: inherit;
        background: #fff;
      }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    p {
      margin: 0;
    }

    h3 {
      margin-top: $stickHeight;
      font-size: 1.1rem;
      line-height: 1.4rem;
      margin-bottom: 0.6rem;
    }

    .content {
      margin: 0 $tinyPadding;
    }

    .text {
      font-size: 0.9rem;
      line-height: 1.2rem;
    }

    a {
      border: none;
    }
  }
}

.road {
  // background: orange;
  $lineThickness: $nanoPadding;
  $lineColor: _palette(accent);
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: $smallPadding;
  grid-column-gap: $lineThickness;
  position: relative;

  &::before {
    content: '';
    display: 'block';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -$lineThickness/2;
    width: $lineThickness;
    background: $lineColor;
  }

  .date {
    border-bottom: $lineThickness solid $lineColor;
    display: inline-block;
    padding: $microPadding $smallPadding;
  }

  h4,
  p {
    margin-left: $smallPadding;
  }

  .item {
    // background: blue;
    padding-bottom: $tinyPadding;

    &.blue .date {
      border-bottom: $lineThickness solid blue;
    }

    &:nth-child(odd) {
      text-align: right;

      h4,
      p {
        margin-right: $smallPadding;
        margin-left: 0;
      }
    }

    &:nth-child(even) {
      margin-top: $tinyPadding;
    }
  }

  @include breakpoint('<=small') {
    display: block;

    &::before {
      left: 0;
    }

    .item {
      padding-bottom: $smallPadding;
    }

    .item:nth-child(odd) {

      h4,
      p {
        margin-right: 0;
        margin-left: $smallPadding;
      }

      text-align: left;
    }

    .item:nth-child(even) {
      margin-top: 0;
    }
  }

}

#wrapper section.wide-header {
  >header {
    width: auto;

    p,
    h2,
    h3 {
      max-width: none;
    }
  }

  >.content,
  >header {
    padding-bottom: $largePadding;
  }
}

.intro .gatsby-image-wrapper {
  background: _palette(accent-border);
}

// locale specific styles

body.hanzi {
  #wrapper>section.intro header p {
    font-size: 1.5rem;
  }
}

.four-oh-four {
  max-width: 30rem;
  margin: auto;
  text-align: center;
  padding: $hugePadding $smallPadding;

  img {
    max-width: 3rem;
    margin: $tinyPadding;
  }

  h2 {
    margin: $tinyPadding;
  }
}

.link-group {
  margin-top: $tinyPadding;

}

.link-item {
  margin-bottom: $largePadding;
}

.info-buttons-group {
  box-shadow: 0 $microPadding $smallPadding rgba(0, 0, 0, .15);
  background: rgba(0, 0, 0, .05);
  border-radius: $microPadding;
  border: $solidBottom;

  .item {
    border-bottom: $solidBottom;
    padding: $smallPadding;

    p {
      margin: 0;
    }
  }

  margin: $largePadding 0;

  .item:last-child {
    border-bottom: none;
  }

  .right-buttons {
    float: right;
  }
}

table ul.icons {
  margin: 0;
}

table tr.faded {
  background: rgba(255, 27, 27, 0.1) !important;
}

.showcase {
  background: #eee;
  box-shadow: 0 $tinyPadding $smallPadding rgba(0, 0, 0, .2);
  padding: $smallPadding;
  border-radius: $smallPadding;
}

.video-group {
  margin: $largePadding 0;
}

.video-frame {
  width: 100%;
  height: 45vh;
  background: #f5f5f5;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  i {
    font-size: 2em;
    margin: $tinyPadding;
  }

  &.not-playing {
    cursor: pointer;

    &:hover {
      background: #ddd;
    }
  }

}

.video-item {
  margin-bottom: $hugePadding;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.text-right {
  text-align: right;
}

.sub-menu li.selected {
  font-weight: bold;
}

.disclaimer,
.license,
.contribute {
  background: rgba(0, 230, 150, 0.1);
  padding: $microPadding $tinyPadding;
  border-radius: $tinyPadding;
  margin-bottom: $tinyPadding;
  font-size: 0.9rem;
  color: rgba(0, 0, 0, .8)
}

#wrapper .copyright a.button-link {
  color: initial;
}

.tabs {
  border-bottom: $solidBottom;
  padding: 0;

  a {
    display: inline-block;
    border: none;
    background: #ddd;
    opacity: 0.7;
    padding: $nanoPadding $tinyPadding;
    margin-left: $microPadding;
    border-top-left-radius: $microPadding;
    border-top-right-radius: $microPadding;
    border: 2px solid #ddd;
    margin-bottom: -2px;

    &:hover {
      opacity: 0.9;
    }

    &.selected {
      opacity: 1;
      border-bottom: 2px solid white;
      background: white;
    }
  }
}

.tabs-child {
  border: 2px solid #ddd;
  padding: $smallPadding;
  border-top: 0;
}

#wrapper .layout-content section {
  display: block;
  margin-top: 0;
  margin-bottom: $smallPadding;
}

#wrapper section.layout-header {
  margin-top: -$smallPadding;
}

.layout-footer {
  padding-top: $tinyPadding;
}

.button-group {
  margin: $largePadding 0;
}
.sitemap {
  small {
    font-size: 0.8rem;
    white-space: nowrap;
  }
  a { 
    line-height: 1.6rem;
    display: block; border: 0; padding: $microPadding; 
  }
  a:hover {
    background: #eee;
  }
  .text {
    font-size: 0.8rem;
    line-height: 1rem;
  }
}